/*Only use this file if you want to override bootstrap or create your own style*/
.player-fov-row {
  height: 80vh;
}

.player-fov-div {
  height: 100%;
}

.health-bar-row {
  height: 20vh;
  width: 100%;
}
