/*Only use this file if you want to override bootstrap or create your own style*/
// .player-fov-row{
//     height: 80vh;
// }

// .player-fov-div{
//     height: 100%;
// }

// .health-bar-row{
//     height: 20vh;
//     width: 100%;
// }
body{
    width: 640px;
    margin: auto;
}
p, span, div{
    padding: 0;
    margin: 0;
}
.player-fov-div{
    position: relative;
    width: 640px;
    height: 400px;
    background-image: url("img/fov.png");
    // background-size: contain;
}
.enemy-box{
    position: relative;
    width: 400px;
    height: 333px;
    margin: auto;
    outline: 1px solid red;
}
.enemy-img-frame{
    position: absolute;
    bottom: 21;
    width: 400px;
    // height: 265px;
}
#enemy-img{
    margin: auto;
    // width: 118px;
    // height: 124px;
    width: 232px;
    height: 248px;
    // background: url("img/imp-placeholder.png");
    // background-size: 100% 100%;
}
#enemy{ //redundant if you use background image above. clean up after deciding!
    margin: auto;
    // width: 232px;
    // height: 248px;
    // background: url("img/imp.png") 0 0;
}
.progress-center{
    width: 200px;
    margin: auto;
}
.progress{
    position: absolute;
    bottom: 0;
    width: 200px;
    margin: auto;
}
.hud{
    height: 64px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.ammo-box{
    display: inline-block;
    height: 64px;
    width: 92px;
    position: absolute;
    top: 0;
    left: 0;
}
.health-box{
    display: inline-block;
    height: 64px;
    width: 112px;
    position: absolute;
    top: 0;
    left: 95px;
    text-align: center;
    color: red;
    line-height: 53px;
    font-size: 48px;
}
.frag-box{
    display: inline-block;
    height: 64px;
    width: 71px;
    position: absolute;
    top: 0;
    left: 212px;
    text-align: center;
    color: red;
    line-height: 53px;
    font-size: 48px;
}
.face-box{
    display: inline-block;
    height: 64px;
    width: 69px;
    position: absolute;
    top: 0;
    left: 286px;
}
.armor-box{
    display: inline-block;
    height: 64px;
    width: 110px;
    position: absolute;
    top: 0;
    left: 359px;
}
.key-box{
    display: inline-block;
    height: 64px;
    width: 23px;
    position: absolute;
    top: 0;
    left: 473px;
}
.ammo-list-box{
    display: inline-block;
    height: 64px;
    width: 139px;
    position: absolute;
    top: 0;
    right: 0;
}
.actionbar{
    width: 640px;
    text-align: center;
}
.player-div{
    display: inline-block;
    width: 318px;
    outline: 1px solid red;
}
.enemy-div{
    display: inline-block;
    width: 318px;
    outline: 1px solid red;
}